@import "../node_modules/bootstrap/scss/bootstrap";
* {
    color: whitesmoke;
}

::-webkit-scrollbar {
    width: 7px;
    /* background: transparent;  Optional: just make scrollbar invisible */
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.4;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(31, 63, 204, 0.513); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.nav-dropdown {
    display: flex;
    justify-content: right;
    text-align: right;
}
.navbar-collapse .show {
    display: flex;
    justify-content: right;
    text-align: right;
}

body {
    background-color: #171E26;
}

#content {
    margin: 50px 25px 0 25px;
    display: flex;
    flex-wrap: nowrap;
}

#app {
    display: flex;
    flex-wrap: nowrap;
}

/*** COMPONENT STYLES ***/

/* Board component styling */
.board {
    color: black;
    width: 270px;
    margin: 0 10px;
    height: auto;
}
.board-body {
    padding: 0.6rem;
    padding-top: 1rem;
    overflow-y: scroll;

}

/* Task component styling */
.task {
    padding: 0.65rem 0.95rem;
    margin-bottom: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 26px auto;
    grid-template-areas: 
        "cb-area main-area";
    position: relative;
    
}
.delete-button {
    padding: 2.05px 2px 1.5px 1.95px;
}
.task .delete-button {
    display: none;
    position: absolute;
    right: 4px;
    top: 6px;
}
.task:hover .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
	-webkit-animation: scale-in-hor-right 0.55s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
	        animation: scale-in-hor-right 0.55s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
    cursor: pointer;
}
.task-checkbox-area {
    grid-area: cb-area;
    cursor: pointer;
}
.task-text-area {
    grid-area: main-area;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

/* AddTask component styling */
.new-task-card {
    padding: 0.65rem 0.95rem;
    margin-bottom: 7px;
    display: flex;
    font-size: 0.8rem;
}

/* AddBoard component styling */
.new-board {
    width: 270px;
    height: 150px;
    margin: 0 10px;
    border-style: dashed;
    border-radius: 8px;
    border-width: 3px;
}
.new-board-header {
    flex-wrap: nowrap;
}
.new-board-body {
    vertical-align: middle;
    height: auto;
    display: flex;
    align-items: center;
    color: #6C757D
}
.new-board-text {
    color: #6C757D
}
.board-title-input {
    max-width: 95%;
}
.save-badge-cont {
    height: 100%;
    display: flex;
    align-items: center;
    padding: auto;
    margin-left: 10px;
}


/* Utility classes */

.dimmed {
    opacity: 0.65;
}

.no-wrap-flex {
    display: flex;
    flex-wrap: nowrap;
}




#navigation {
    /* max-height: 40px; */
}
.ham-button:focus { outline: none; }




/* Keyframes */

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}


/* Strikethrough */

.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1.6px;
	box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.8em;
    background: whitesmoke;
    opacity: 0.8;
	transform-origin: center left;
	animation: strikethrough 2s 0s cubic-bezier(.55, 0, .1, 1) 1;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}


/* Little hover effect */

.strikethrough:hover {
	/* color: rgba(200,0,0,1);
	background: rgba(255, 189, 182, 0.3); */
}

.strikethrough:hover:after {
	transform: scaleX(0);
	transform-origin: center right;
}




/* Keyframes for initial animation */

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-2 23:3:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  
  
  
/* ----------------------------------------------
 * Generated by Animista on 2019-10-2 21:37:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 0.63;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 0.63;
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2019-10-2 22:18:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  