* {
    color: whitesmoke;
}

body {
    background-color: #171E26;
}

#content {
    margin: 50px 25px 0 25px;
    display: flex;
    flex-wrap: nowrap;
}

#app {
    display: flex;
    flex-wrap: nowrap;
}

/*** COMPONENT STYLES ***/

/* Board component styling */
.board {
    color: black;
    width: 270px;
    margin: 0 10px;
    height: auto;
}
.board-body {
    padding: 0.6rem;
    padding-top: 1rem;

}

/* Task component styling */
.task {
    padding: 0.65rem 0.95rem;
    margin-bottom: 7px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 26px auto;
    grid-template-areas: 
        "cb-area main-area";
    
}
.task-checkbox-area {
    grid-area: cb-area;
}
.task-text-area {
    grid-area: main-area;
    font-size: 0.8rem;
}

/* AddTask component styling */
.new-task-card {
    padding: 0.65rem 0.95rem;
    margin-bottom: 7px;
    display: flex;
    font-size: 0.8rem;
}

/* AddBoard component styling */
.new-board {
    width: 270px;
    height: 163.33px;
    margin: 0 10px;
    border-style: dashed;
    border-radius: 8px;
    border-width: 3px;
}
.new-board-header {
    flex-wrap: nowrap;
}
.new-board-body {
    vertical-align: middle;
    height: auto;
    display: flex;
    align-items: center;
    color: #6C757D
}
.new-board-text {
    color: #6C757D
}
.board-title-input {
    max-width: 95%;
}
.save-badge-cont {
    height: 100%;
    display: flex;
    align-items: center;
    padding: auto;
    margin-left: 10px;
}


/* Utility classes */

.dimmed {
    opacity: 0.65;
}

.no-wrap-flex {
    display: flex;
    flex-wrap: nowrap;
}




#navigation {
    /* max-height: 40px; */
}
.ham-button:focus { outline: none; }
